section {
  height:100vh;
  background-color: rgb(206, 206, 206);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  box-sizing: border-box;
}

.hContainer {
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(././../../../../../assets/hero.jpg);
  background-size: cover;
  background-position-y: -25vh;
  border-radius: 3%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 3%;
}

.middle {
  margin-top: 7%;
  margin-bottom: 15%;
  color: white;
  font-weight: 700;
  font-size: 5rem;
}