<div>
    <app-hero></app-hero>
    <app-card-right-pic></app-card-right-pic>
    <!-- <app-sticky-bg></app-sticky-bg> -->
    <app-sticky-test></app-sticky-test>
    <!-- <app-sticky-card-front
        *ngFor="let card of cardDataArray; let i = index"
        [cardData]="card"
    ></app-sticky-card-front> -->
    <app-card-left-pic></app-card-left-pic>
    <app-what-we-provide></app-what-we-provide>
    <app-contact-us></app-contact-us>
    <app-footer></app-footer>
</div>


<!--
    [isSticky]="i === stickyCardIndex"
    (mouseenter)="updateStickyCard(i)" -->
