section {
    color: black;
    padding: 3%;
}

.hContainer {

    z-index: 1;
    background-color: rgb(238, 245, 245);
    border-radius: 3%;
    height: 70vh;
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .right {
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: end;
        img {
            height: 100%;
            position: relative;
            width: 80%;
            border-radius: 3%;
            object-fit: cover;
        }
    }

    .left {
        height: 100%;
        display: flex;
        flex-direction: column;
    
        .leftContent {
            p {
                margin-bottom: 5%;
                font-size:small;
            }
    
            h1 {
                margin-bottom: 70%;
                font-size: 2rem;
            }
        }
    }
}

.sticky {
    top: 24vh;
    position: sticky;
    z-index: -3;
}

