<mat-expansion-panel>
    <mat-expansion-panel-header class="d-flex justify-content-between">
        <mat-panel-title>
            This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
           <i class="bi bi-dot fs-2 dot"></i> Completed
        </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent class="d-flex d-column">
        <div class="part">
            <h5>WO Type</h5>
            <p>Maintenance</p>
        </div>
        <div class="part">
            <h5>WO Type</h5>
            <p>Maintenance</p>
        </div>
        <div class="part">
            <h5>WO Type</h5>
            <p>Maintenance</p>
        </div>
        <div class="part">
            <h5>WO Type</h5>
            <p>Maintenance</p>
        </div>
    </ng-template>
</mat-expansion-panel>