.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  height: 0%;

}

mat-sidenav {
  width: 33%;
  background-color: aquamarine;
}

mat-sidenav-content {
  color: transparent;
}

