.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

mat-sidenav-container {
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  position: absolute;
}

mat-sidenav {
  width: 200px;
  background-color: aquamarine;
}

mat-sidenav-content {
  display: none;
  visibility: hidden;
}

mat-sidenav-container[_ngcontent-ng-c749782702]{
  height: 10%;
}
