<mat-toolbar>
  <div class="logo">
    Logo
  </div>

  <div class="menu">
    <button (click)="isOpened=!isOpened" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>MENU</span>
    <span class="example-spacer"></span>
  </div>
</mat-toolbar>




<mat-sidenav-container>
  <mat-sidenav  [(opened)]="isOpened" mode="push" position="end">
    <a>Home</a>
  </mat-sidenav>

  <mat-sidenav-content >
    End
  </mat-sidenav-content>
</mat-sidenav-container>
