mat-sidenav-container {
    height: 100%;
    width: 100%;
    top: 0;
    overflow: visible;
  }

  mat-sidenav {
    width: 33%;
    background-color: rgb(12, 85, 61);
    overflow: visible;
  }

  mat-sidenav-content {
    height: 100%;
    overflow: visible;
  }

  .list {
    color: white;
    padding: 8%;
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
  }

  hr {
    margin-bottom: 2em;
  }

  img {
    width: 25%;
  }
