<section>
    <div class="hContainer">
        <div class="left test">
            <div class="leftContent left">
                <p>mission</p>

                <h1>We're Good as FUCK!</h1>

                <h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                </h4>
            </div>

            <p class="learnBtn">Learn How BTN</p>
        </div>

        <div class="right">
            <img src="https://fakeimg.pl/200x100/?retina=1&text=SUC&font=noto" alt="">
        </div>
    </div>
</section>