<section>
    <div class="hContainer">
        <div class="left">
            <h1>Contact Us</h1>
            <ul>
                <li>KSA - Rastanura 31941</li>
                <li>013 6674009</li>
                <li>suc@suc-sa.com</li>
            </ul>

        </div>

        <div class="right">
            <div class="form-container">
                <form (ngSubmit)="submitForm()" #myForm="ngForm">
                  <div class="form-group">
                    <label for="name">Your Name:</label>
                    <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
                  </div>
              
                  <div class="form-group">
                    <label for="company">Company Name:</label>
                    <input type="text" id="company" name="company" [(ngModel)]="formData.company" required>
                  </div>
              
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
                  </div>
              
                  <div class="form-group">
                    <label for="mobile">Mobile:</label>
                    <input type="tel" id="mobile" name="mobile" [(ngModel)]="formData.mobile" required>
                  </div>
              
                  <div class="form-group">
                    <label for="note">Note:</label>
                    <textarea id="note" name="note" [(ngModel)]="formData.note"></textarea>
                  </div>
              
                  <button type="submit" [disabled]="!myForm.valid">Submit</button>
                </form>
              </div>
              
        </div>
    </div>
</section>