<section class="p-3">
    <div class="header w-100">
        <app-breadcrumb></app-breadcrumb>
        <h1 class="fw-bold">4400014565</h1>
    </div>

    <div class="content w-100 d-flex d-column">
        <div class="main w-75 me-2">
            <app-ng-expansion-panel></app-ng-expansion-panel>
        </div>

        <div class="side w-25 ms-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Overview</mat-card-title>
                    <mat-card-subtitle>Start</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section>