<section class="p-3">
    <div class="header w-100">
        <app-breadcrumb></app-breadcrumb>
        <h1 class="fw-bold">4400014565</h1>
    </div>

    <div class="content w-100 d-flex d-column">
        <div class="main w-75 me-2">
            <app-ng-expansion-panel></app-ng-expansion-panel>

            <mat-card class=" mt-4">
                <mat-card-header>
                    <h2>Tasks</h2>
                </mat-card-header>
                <mat-card-content class="table">
                </mat-card-content>
            </mat-card>

            <mat-card class=" mt-4">
                @for(status of statusList; track status.name) {
                    {{status.name}}
                }
            </mat-card>

        </div>

        <div class="side w-25  ms-2">
            <app-ng-card></app-ng-card>

            <mat-card class="mt-4">
                <mat-card-header>
                    <h3 class="fw-bold">Expenses Summary</h3>
                </mat-card-header>

                <mat-card-content>
                    <app-bar-chart></app-bar-chart>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</section>